__pycache__
data/*/*/*.fasta
data2/*/*/*.fasta
data3/*/*/*.fasta

*/.DS_Store
.DS_Store
data/.DS_Store
data2/.DS_Store

data/JSON_Files
data2/JSON_Files
data3/JSON_Files

FCGR_fractals/plots
data3/
PP_Representations_50_files
csv_files/

Work_Remaining/pp_csv_files/
Work_Remaining/pycaret_feature_comparison/
Work_Remaining/fd_magtropy_csvs/
Work_Remaining/all_feature_data_csvs/
Work_Remaining/betacoronavirus_EIIP_results/
